
.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.graph-button {
  position: absolute !important; 
  font-weight: bold !important;
  z-index: 3;
  bottom: 5%;
  left: 40%;
  right: 50%;
}
.popover-container{
  width: 100%;
}

.graph-container{
  width: 101%;
  margin: 4px 
}

.graph-title {
  text-align: center;
}

.map-element {
  position: absolute !important;
  z-index: 2;
}

.map-filter-button { 
  font-weight: bold !important;
} 

#toggle-container {
  left: 1%;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  background-color: rgba(220,220,220, 0.749);
  padding: 8px;
  border-radius: 10px;
}

