.site-info {
  position: absolute !important; 
  z-index: 4;
  text-align: center;
  top: 50%;
  left: 50%; 
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  margin: 5px;  

}
.graph-button {
  position: absolute !important; 
  z-index: 3;
  bottom: 5%;
  left: 40%;
  right: 50%;
}

.graph-paper {
  margin: 2%;
  height: 95%;
  width: 95%;
}

.graph-title {
  text-align: center;
}

.pie {
  margin-left: 0%;
}
/* .pop-up-css{
  
} */

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.map-element {
  position: absolute !important;
  z-index: 2;
}

.map-filter-button { 
  font-weight: bold !important;
} 

#graph-toggle-button {
  bottom: 20px;
  left: 50%;
}

#toggle-container {
  left: 1%;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  background-color: rgba(220,220,220, 0.749);
  padding: 8px;
  border-radius: 10px;
}
